# Ignore the build directory
/build/
/target/

# Ignore temporary files and directories
*.class
*.log
*.tmp
*.swp

# Ignore compiled Java bytecode files
*.jar
*.war
*.ear

# Ignore IDE specific files
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Eclipse
.classpath
.project
.settings/

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# Ignore Maven and Gradle specific files
#maven
.mvn/
!.mvn/wrapper/maven-wrapper.jar
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

#gradle
.gradle
build/
!gradle-wrapper.jar

# Ignore OS-specific files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
# Temporary files created by Linux-based text editors
.swp
.swo
