<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Bean definition for EmployeeService -->
    <bean id="employeeService" class="com.library.employee_management_system.service.EmployeeServiceImpl"/>

    <!-- Bean definition for DepartmentService -->
    <bean id="departmentService" class="com.library.employee_management_system.service.DepartmentServiceImpl"/>

</beans>
